---
import { Icon } from "astro-icon/components";
import YukinaConfig from "../../yukina.config";
---

<div class="mx-3 space-y-4">
  <!-- Site footer -->
  <footer>
    <div
      class="divide-y divide-dashed divide-black/25 py-4 lg:pt-0 dark:divide-white/25"
    >
      <div></div>
      <div></div>
    </div>
    <div
      class="flex w-full flex-col items-center text-sm text-[var(--text-color-lighten)]"
    >
      <p>
        © {new Date().getFullYear()}
        {YukinaConfig.username} All Rights Reserved.
      </p>
      <p>
        Powered By <a
          class="link"
          href="https://github.com/WhitePaper233/yukina">Yukina</a
        > & <a class="link" href="https://astro.build/">Astro</a>
      </p>
      <p>
        <a class="link" href={new URL("sitemap-index.xml", YukinaConfig.site)}
          >SiteMap</a
        > / <a class="link" href="/rss.xml">RSS</a>
      </p>
    </div>
  </footer>
</div>

<style>
  .link {
    @apply text-[var(--primary-color)] transition-all hover:brightness-110;
  }
</style> 